<div class="menuDiv">
    <div class="menuList">
        <ul>
            <li>
                <a href="">MOUSE</a>
            </li>
            <li>
                <a href="">KEYBOARDS</a>
            </li>
            <li>
                <a href="">HEADSETS</a>
            </li>
            <li>
                <a href="">MOUSEPADS</a>
            </li>
            <li>
                <a href="">ACCESSORIES</a>
            </li>
        </ul>
    </div>
</div> 
