<div class="menuDiv">
    <div class="menuList">
        <ul>
            <li>
                <a href="#/home/mouse">MOUSE</a>
            </li>
            <li>
                <a href="/#/home/keyboard">KEYBOARDS</a>
            </li>
            <li>
                <a href="/#/home/headset">HEADSETS</a>
            </li>
            <li>
                <a href="/#/home/mousepad">MOUSEPADS</a>
            </li>
            <li>
                <a href="/#/home/accessoaries">ACCESSORIES</a>
            </li>
        </ul>
    </div>
</div> 
