<div class="menuDiv">
    <div class="menuList">
        <ul>
            <li>
                <a href="/mouse">MOUSE</a>
            </li>
            <li>
                <a href="/keyboard">KEYBOARDS</a>
            </li>
            <li>
                <a href="/headset">HEADSETS</a>
            </li>
            <li>
                <a href="/mousepad">MOUSEPADS</a>
            </li>
            <li>
                <a href="/accessoaries">ACCESSORIES</a>
            </li>
        </ul>
    </div>
</div> 
