{{> header}}
{{> userInfo}}

<div class="mainContainer pageWidth center">
    <button class="btn dbInfoBtn" onclick="showUserData()">show UsersDB</button>
    <button class="btn dbInfoBtn" onclick="showProductsData()">show ItemsDB</button>

    <table id="dbInfo" class="center">

    </table>
</div>

