.productPage {
    text-align: center;
    background: rgb(255,255,255);
    margin-top: -25px;
    min-height: 500px;
    width: 100%;
    padding-top: 10px;
}
/* .productPage div {
    border: solid 1px var(--secondary-color);
} */
.productHeader {
    /* border-bottom: solid 5px var(--primary-color); */
    background-color: var( --special-color);
    color: var(--secondary-color);
    transform: skew(20deg);
    width: 50%;
    height: 50px;
    margin-top: 100px;
    margin-left: -20px;
    padding-right: 100px;
    padding-top: 1px;
    box-shadow: 0 0 10px var(--secondary-color);
}
.productCenter{
    width: 33%;
    height: 0px;
}
.productHeader h2 {
    transform: skew(-20deg);
    margin: unset;
    float: right;
}
.productImage {
    height: 450px;
    width: 500px;
    border-right: solid 1px var(--primary-color);
    border-left: solid 1px var(--primary-color);
}
.productImage img {
    max-height: 100%;
    max-width: 100%;
}
.productMainInfo {
    height: 350px;
    border-top: solid 2px var(--primary-color);
}
.productOrderInfo h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
