.header {
  padding: 2px;
  width: 100%;
  height: 30px;
  background: var(--special-color);
  border-bottom: solid 2px black;
  box-shadow: 0px 2px 30px 15px var(--secondary-color);
  background: rgb(16,43,62);
  background: linear-gradient(90deg, rgba(16,43,62,1) 0%, var(--special-color) 50%, rgba(16,43,62,1) 100%);
} 
/* .header div {
  border: 1px solid var(--primary-color);
} */
.headerLeft, .headerRight, .headerCenter {
  float: left;
  position: relative;
  height: 30px;
  width: 25%;
  text-align: center;
  margin-top: -2px;
}
.headerCenter {
  width: 50%;
}
.headerRight div {
  margin-left: 70px;
  margin-right: 20px;
}

.headerCenterLogo {
  width: 50%;
  height: 100%;
  box-shadow: 0px 2px 15px 1px black;
}
.headerCenterLogo h1 {
  transform: skew(-20deg);
  color: var(--special-color);
  font-size: 23px;
  margin: 0px;
}

.skewDiv {
  transform: skew(20deg);
  height: 100%;
  min-width: 15px;
  background-color: black;
  text-shadow: 0 0 3px var(--special-color);
  transition:.2s ease;
  animation-delay: 1s;
}
.skewDiv:hover {
  background-color: rgb(3, 16, 26);
}


.btnHeaderStyleOne {
  transform: skew(-20deg);
  color: var(--special-color-green);
  font-size: 17px;
  width: 10px;
  height: 100%;
  float: right  ;
  transition:.2s ease;
  text-shadow: 1px 1px 2px black;
}
  .btnHeaderStyleOne:hover {
    text-decoration: none;
    color: var(--special-color-red);
    text-shadow: 0 10px 100px var(--special-color-red);
    border-bottom: solid 2px var(--special-color-red);
  }
  .btnHeaderStyleOne:active {
    text-shadow: none;
    color: var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
  }  

  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 1;
      z-index: 1;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      z-index: 1;
    }
  }
.userInfoBack {
  background-color: var(--secondary-color);
  min-height: 300px;
  box-shadow: 0px 2px 15px 1px var(--secondary-color);
  border-bottom: solid 2px var(--special-color);
  /* animation: slide-in-top 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}
/* .userInfoBack div {
  border: solid 1px gray;
} */
.userInfo {
  width: 70%;
  height: 100%;
}
.userInfo > div {
  /* border: solid 1px var(--special-color-red); */
  float: left;
  height: 298px;
  width: 48%;
  color: var(--primary-color);
  margin-left: 1%;
  margin-right: 1%;
}
.userInfo a {
  width: 200px;
  margin: 10px;
}
.userInfoItems {
  float: right;
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  border: solid 1px var(--special-color);
}
.userImage {
  height: 40%;
}
.user {
  width: 50%;
  height: 60%;
  padding-top: 20px;
}
.footer {
  width: 100%;
  background-color: var(--secondary-color);
  float: left;
  margin-top: 150px;
  height: 400px;
  color: var(--primary-color);
}
.footerDivsPosition{
  width: 90%;
  height: 80%;
  border-bottom: solid 3px var(--special-color-red);
}
.headerColor {
  color: var(--special-color-red);
  font-size: large;
}
.footerInfo{
  /* border: solid 1px var(--special-color-red); */
  height: 100%;
  width: 25%;
  padding: 3%;
}
.footerInfo input {
  background-color: var(--primary-color);
  border: none;
  /* border: solid 1px var(--special-color-red); */
  border-radius: 5px;
  height: 35px;
  padding-left: 10px;
  width: 100%;
}
.footerInfo button {
  background-color: var(--special-color-red);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  transition: .5s ease;
}
.footer button:hover, .socicons-list li a:hover{
  background-color: var(--secondary-color);
  color: var(--special-color-red);
  /* border: solid 1px var(--special-color-red); */
  box-shadow: 0 0 5px 5px var(--special-color-red);
}
.footer button:active {
  transition:.1s ease;

  outline: none;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  

}
.footerInfo h1 {
  margin-bottom: 40px;
  color: var(--secondary-color);
  text-shadow: 1px 1px  var(--special-color-red);
  font-size: 40px;
}
.footerLinks {
  /* border: solid 1px var(--special-color-red); */
  width: 100%;
  height: 20%;
}


.socicons-list {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
margin: unset;
}
.socicons-list li a {
  padding: 6px;
  height: 40px;
  width: 40px;
text-decoration: none;
  font-size: 20px;
border-radius: 50%;
color: #fff;
  background-color: #f1f1f1;
transition: all ease-in-out 10ms;
margin: 10px;
background-color: var(--special-color-red);
transition:.5s ease;
}
#shoppingCart img{
  max-width: 100%;
  height: 70px;
}
#shoppingCart {
  overflow: auto;
  height: 100%;
  width: 100%;
}
#shoppingCart th {
  background-color: var(--secondary-color);
  color: var(--special-color);

}
#shoppingCart tr {
  border-bottom: solid 1px black;
  text-align: center;
}
.shoppingCartImage {
  text-align: center;
  background-color: white;
}
#shoppingCart button {
  color: var(--special-color-red);
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-color);
}
#shoppingCart button:hover {
  box-shadow: 0 0 10px 2px var(--special-color-red);
}
