<footer class="footer center" onload="something()">
  <div class="center footerDivsPosition">
    <div class="left footerInfo">
      {{!-- <h1>GAME ZONE</h1> --}}
      <p class="headerColor">Contact Us</p>
      <p>Phone: 0876 543 210</p>
      <p>Email: boykopetevboev@gmail.com</p>
    </div>
    <div class="left footerInfo">
      <p class="headerColor">About Us</p>
      <p>GAME ZONE is an official sales representative and service partner of the brands it offers on the site, which
        guarantees you quality after-sales service.</p>
    </div>
    <div class="left footerInfo">
      <p class="headerColor">Helpful Links</p>
      <p>Services</p>
      <p>Support</p>
      <p>Terms and Condition</p>
      <p>Privacy Policy</p>
    </div>
    <div class="left footerInfo">
      <p class="headerColor">Push Notifications</p>
      <button id="subscribe" onload="main()" onclick="main()">SUBSCRIBE</button>
      <button onload="showPushNotification()" onclick="showPushNotification({body: 'Test'})">TEST</button>
    </div>
  </div>
  <div class="footerLinks">
    {{!-- <ul class="socicons-list">
      <li>
        <a href='https://www.facebook.com' target='_blank'><span class="socicon-facebook"></span></a>
      </li>
      <li>
        <a href='https://www.instagram.com' target='_blank'><span class="socicon-instagram"></span></a>
      </li>
      <li>
        <a href='https://github.com/BoykoPetevBoev' target='_blank'><span class="socicon-github"></span></a>
      </li>
      <li>
        <a href='https://www.google.com' target='_blank'><span class="socicon-googleplus"></span></a>
      </li>
    </ul> --}}
  </div>
  <script type="text/javascript">
    main();
</script>
</footer>
