<nav class="header centerElement">
    <div class="headerContainer centerElement">

        <div class="headerLeft">

            <div class="skewDiv">
                <a class="btnHeaderStyleOne left" href="#/home">Home</a>
            </div>
            <div class="skewDiv">
                <a class="btnHeaderStyleOne left" href="#/forum">Forum</a>
            </div> 

        </div>

        <div class="headerCenter">
            <div class="skewDiv headerCenterLogo centerElement">
                <h1>GAME ZONE</h1>
            </div>
        </div>

        <div class="headerRight">


            {{#if email}}

            <div class="skewDiv right">
                <a class="btnHeaderStyleOne" href="#/logout">Logout</a>
            </div>

            {{else}}

            <div class="skewDiv right">
                <a class="btnHeaderStyleOne" href="#/login">Login</a>
            </div>


            <div class="skewDiv right">
                <a class="btnHeaderStyleOne" href="#/register">Register</a>
            </div>

            {{/if}}

        </div>
    </div>

    </div>
</nav>
