<nav class="header center">
    <div class="pageWidth center">

        <div class="headerLeft">

            <div class="skewDiv left">
                <a class="btnHeaderStyleOne" href="#/home">Home</a>
            </div>

        </div>

        <div class="headerCenter">
            <div class="skewDiv headerCenterLogo center">
                <h1>GAME ZONE</h1>
            </div>
        </div>

        <div class="headerRight">


            {{#if email}}

            <div class="skewDiv right">
                <a class="btnHeaderStyleOne" href="#/logout">Logout</a>
            </div>

            {{else}}

            <div class="skewDiv right">
                <a class="btnHeaderStyleOne" href="#/login">Login</a>
            </div>


            <div class="skewDiv right">
                <a class="btnHeaderStyleOne" href="#/register">Register</a>
            </div>

            {{/if}}

        </div>
    </div>

    </div>
</nav>
