<nav class="header centerElement">
    <div class="headerContainer centerElement">

        <div class="headerLeft">
            <a class="btnHeaderStyleOne" href="#/home">Home</a>
        </div>

        <div class="headerCenter">
            {{!-- <div class="searchElements">
                <input type="text" placeholder="Търсене...">
                <button>〉</button> --}}
        </div>

        <div class="headerRight">
            {{#if rev}}
            <a class="btnHeaderStyleOne" href="#/profile">{{username}}</a>
            <a class="btnHeaderStyleOne" href="#/logout">Logout</a>
            {{else}}
            <a class="btnHeaderStyleOne" href="#/login">Login</a>
            <a class="btnHeaderStyleOne" href="#/register">Register</a>
            {{/if}}
        </div>

    </div>
</nav>
