{{!-- <div class="menuDiv"> --}}
    <div class="menuList">
        <ul>
            <li>
                <a href="">Периферия</a>
            </li>
            <li>
                <a href="">Хардуер</a>
            </li>
            <li>
                <a href="">Компютри</a>
            </li>
            <li>
                <a href="">Монитори</a>
            </li>
            <li>
                <a href="">Аксесоари</a>
            </li>
        </ul>
    </div>
{{!-- </div>  --}}
